@use "base/mixins" as m;
@use "base/variables" as v;

.insights{
    @include m.above;
    @include m.padding_above_header(100px);

    &_title{
        @include m.svg_4_title;

        @media (min-width: v.$laptop){
            margin-bottom: m.px-to-vw(66px);
            padding-bottom: m.px-to-vw(14px);
        }
        @include m.laptop{
            margin-bottom: 38px;
            padding-bottom: 12px;
        }
        @include m.tablet{
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }
    }
    &-list{
        @include m.grid_3;
    }
    &-pagination{
        @media (min-width: v.$laptop){
            margin-top: m.px-to-vw(80px);
        }
        @include m.laptop{
            margin-top: 60px;
        }
        @include m.notebook{
            margin-top: 42px;
        }
        @include m.tablet{
            margin-top: 2rem;
        }
    }

    @include m.animation_for_title;
}

.article_post{
    display: block;
    width: 100%;

    &>*{
        width: 100%;
    }
    &-image{
        aspect-ratio: 16/10.25;
        height: auto;
        overflow: hidden;

        @media (min-width: v.$laptop){
            margin-bottom: m.px-to-vw(24px);
        }
        @include m.laptop{
            margin-bottom: 18px;
        }

        img{
            @include m.fullWH;
            object-fit: cover;
            @include m.transition(.4s);
            object-position: center;
        }
    }
    &-name{
        position: relative;
        top: 0;
        opacity: 1;
        @include m.transition(.4s);
    }
    &-info{
        position: relative;
        overflow: hidden;

        p{
            @include m.body(v.$black);
            opacity: 0.6;
        }
    }
    &-button{
        cursor: pointer;
        position: absolute;
        @include m.centerX;
        width: 100%;
        background: v.$black;
        color: v.$white;
        @include m.body(v.$white);
        @include m.transition(.4s);
        
        @media (min-width: v.$laptop){
            top: calc(100% + m.px-to-vw(40px));
            @include m.flex(center, m.px-to-vw(12px));
            height: m.px-to-vw(58px);
        }
        @include m.laptop{
            top: calc(100% + 30px);
            @include m.flex(center, 10px);
            height: 52px;
        }

        svg{
            @media (min-width: v.$laptop){
                @include m.square(m.px-to-vw(14px));
            }
            @include m.laptop{
                @include m.square(12px);
            }
        }
    }
    h2{
        @include m.h6(v.$black);
        @media (min-width: v.$laptop){
            line-height: 150%;
        }
        @include m.laptop{
            line-height: 1.3em;
        }

        @include m.lines(2);

        @media (min-width: v.$laptop){
            margin-bottom: m.px-to-vw(8px);
        }
        @include m.laptop{
            margin-bottom: 6px;
        }
    }

    &:is(:hover, :focus){
        .article_post{
            &-name{
                opacity: 0;
                @media (min-width: v.$laptop){
                    top: m.px-to-vw(-130px);
                }
                @include m.laptop{
                    top: -130px;
                }
            }
            &-image{
                img{
                    transform: scale(1.05);
                }
            }
            &-button{
                @media (min-width: v.$laptop){
                    top: m.px-to-vw(40px);
                }
                @include m.laptop{
                    top: 20px;
                }
            }
        }
    }
}

//------------------------ pagination ------------------------
.pagination{
    &-ellipsis{
        color: v.$black;
    }
    &-nav{
        @media (min-width: v.$laptop){
            @include m.flex(center, m.px-to-vw(8px));
        }
        @include m.laptop{
            @include m.flex(center, 6px);
        }
        margin-bottom: 0;

        &>*{
            border-radius: 50%;
            @media (min-width: v.$laptop){
                @include m.square(m.px-to-vw(32px));
                @include m.flex(center, 0);
                font-size: m.px-to-vw(15px);
                line-height: 150%;
            }
            @include m.laptop{
                @include m.square(26px);
                @include m.flex(center, 0);
                font-size: 15px;
                line-height: 1.2em;
            }
            @include m.notebook{
                font-size: 14px;
            }
            font-weight: 400;

            svg{
                @include m.fullWH;
                object-fit: contain;
                object-position: center;
            }
        }
    }
    &-button{
        &:not(.active){
            color: v.$black;
        }
        &.active{
            color: v.$white;
            background: v.$green;
        }
    }
    &-prev, &-next{
        @include m.flex(center, 0);
        width: fit-content;
        background: v.$yellow;

        @media (min-width: v.$laptop){
            padding: m.px-to-vw(9px);
        }
        @include m.laptop{
            padding: 6px;
        }
    }
    &-showing{
        @media (min-width: v.$laptop){
            margin-top: m.px-to-vw(32px);
        }
        @include m.laptop{
            margin-top: 26px;
        }

        p{
            font-weight: 400;
            @media (min-width: v.$laptop){
                line-height: 150%;
                font-size: m.px-to-vw(15px);
                @include m.flex(center, m.px-to-vw(8px));
            }
            @include m.laptop{
                line-height: 1.2em;
                font-size: 15px;
                @include m.flex(center, 6px);
            }
            @include m.notebook{
                font-size: 14px;
            }
            color: v.$black;
        }
        select{
            border: none;
            background: v.$yellow;
            @media (min-width: v.$laptop){
                border-radius: m.px-to-vw(5px);
                min-width: m.px-to-vw(41px);
                min-height: m.px-to-vw(31px);
                padding-inline: m.px-to-vw(6px);
            }
            @include m.laptop{
                border-radius: 4px;
                min-width: 38px;
                min-height: 29px;
                padding-inline: 4px;
            }
        }
    }
}
//------------------------ pagination ------------------------


.article{
    @include m.above;

    &_header{
        @include m.padding_above_header;
        
        h1{
            @include m.h2(v.$black);
            strong, b, span{
                color: v.$gold;
            }

            @media (min-width: v.$laptop){
                margin-block: m.px-to-vw(48px);
                max-width: m.px-to-vw(899px);
            }
            @include m.laptop{
                margin-block: 36px;
                max-width: 799px;
            }
            @include m.notebook{
                margin-block: 26px;
            }
        }
        
        @include m.backlink;

        &-box{
            @media (min-width: v.$laptop){
                padding-bottom: m.px-to-vw(80px);
                border-bottom: m.px-to-vw(1px) solid rgba($color: v.$black, $alpha: 0.1);
            }
            @include m.laptop{
                padding-bottom: 56px;
                border-bottom: 1px solid rgba($color: v.$black, $alpha: 0.1);
            }
            @include m.notebook{
                padding-bottom: 32px;
            }

            &>p{
                @include m.h6(v.$black);
            }
        }
    }

    &_description{
        @media (min-width: v.$laptop){
            padding-block: 0 m.px-to-vw(120px);
        }
        @include m.laptop{
            padding-block: 0 90px;
        }
        @include m.tablet{
            padding-block: 0 60px;
        }

        &-grid{
            @media (min-width: v.$laptop){
                @include m.grid(2, m.px-to-vw(24px));
                padding-bottom: m.px-to-vw(120px);
                border-bottom: m.px-to-vw(1px) solid rgba($color: v.$black, $alpha: 0.1);
            }
            @include m.laptop{
                @include m.grid(2, 18px);
                padding-bottom: 90px;
                border-bottom: 1px solid rgba($color: v.$black, $alpha: 0.1);
            }
            @include m.notebook{
                padding-bottom: 60px;
                grid-template-columns: 100%;
                grid-gap: 1.5rem;
            }
        }
        &-title{
            @media (min-width: v.$laptop){
                padding-right: m.px-to-vw(32px);
            }
            @include m.laptop{
                padding-right: 24px;
            }
            @include m.notebook{
                padding-right: 0;
            }

            h2{
                @include m.h3(v.$black);
            }
        }
        &-content{
            p{
                @include m.body(v.$black);

                &:not(:last-of-type){
                    @media (min-width: v.$laptop){
                        margin-bottom: m.px-to-vw(19px);
                    }
                    @include m.laptop{
                        margin-bottom: 16px;
                    }
                    @include m.notebook{
                        margin-bottom: 12px;
                    }
                }
            }
            a{
                @include m.button(129px, v.$white, v.$black);
                &::after{
                    filter: none;
                }

                @media (min-width: v.$laptop){
                    margin-top: m.px-to-vw(40px);
                }
                @include m.laptop{
                    margin-top: 32px;
                }
                @include m.notebook{
                    margin-top: 24px;
                }
            }
        }
    }

    &_thumbnail{
        @media (min-width: v.$laptop){
            padding-block: 0 m.px-to-vw(120px);
            // border-bottom: m.px-to-vw(1px) solid rgba($color: v.$black, $alpha: 0.1);
        }
        @include m.laptop{
            padding-block: 0 90px;
            // border-bottom: 1px solid rgba($color: v.$black, $alpha: 0.1);
        }
        @include m.tablet{
            padding-block: 0 60px;
        }

        img{
            width: 100%;
            @media (min-width: v.$laptop){
                aspect-ratio: 16/9.176;
                object-fit: cover;
                object-position: center;
            }
            height: auto;

            @media (min-width: v.$laptop){
                margin-bottom: m.px-to-vw(16px);
            }
            @include m.laptop{
                margin-bottom: 12px;
            }
        }
        &-info{
            @include m.flex(space-between, 0);

            @include m.tabletlg{
                flex-direction: column;
                gap: 0.5rem;
                align-items: flex-start;
            }

            p{
                @include m.body(v.$black);
                opacity: 0.6;
            }
            a{
                @include m.button(111px, v.$white, v.$black, 'small');
                &::after{
                    filter: none;
                }
            }
        }
    }

    &_information{
        &-grid{
            &:first-child{
                @media (min-width: v.$laptop){
                    border-top: m.px-to-vw(1px) solid rgba($color: v.$black, $alpha: 0.1);
                }
                @include m.laptop{
                    border-top: 1px solid rgba($color: v.$black, $alpha: 0.1);
                }
            }
            @media (min-width: v.$laptop){
                border-bottom: m.px-to-vw(1px) solid rgba($color: v.$black, $alpha: 0.1);
                padding-block: m.px-to-vw(120px);
                @include m.grid(2, m.px-to-vw(24px));
                align-items: center;
            }
            @include m.laptop{
                border-bottom: 1px solid rgba($color: v.$black, $alpha: 0.1);
                padding-block: 90px;
                @include m.grid(2, 18px);
                align-items: center;
            }
            @include m.notebook{
                padding-block: 60px;
                grid-template-columns: 100%;
                grid-gap: 1.5rem;
                align-items: center;
            }

            &>*{
                width: 100%;
            }
            &:nth-child(odd){
                .article_information{
                    &-content{
                        @media (min-width: v.$laptop){
                            padding-right: m.px-to-vw(32px);
                        }
                        @include m.laptop{
                            padding-right: 26px;
                        }
                        @include m.notebook{
                            padding-right: 0;
                        }
                    }
                }   
            }
            &:nth-child(even){
                .article_information{
                    &-image{
                        @media (min-width: v.$notebook){
                            order: -1;
                        }
                    }
                    &-content{
                        @media (min-width: v.$laptop){
                            padding-left: m.px-to-vw(32px);
                        }
                        @include m.laptop{
                            padding-left: 26px;
                        }
                        @include m.notebook{
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        &-title{
            @media (min-width: v.$notebook){
                grid-column: span 2;
            }
            &>*{
                @include m.h3(v.$black);
            }
        }
        &-content{
            h3{
                @include m.h4(v.$black, 500);
            }
            .description{
                @media (min-width: v.$laptop){
                    margin-block: m.px-to-vw(24px) m.px-to-vw(40px);
                }
                @include m.laptop{
                    margin-block: 18px 32px;
                }
                @include m.notebook{
                    margin-block: 1rem 1.5rem;
                }

                p, li, span{
                    @include m.h6(v.$black);
                }
            }
            a{
                @include m.button(137px, v.$white, v.$black);
            }
        }
        &-image{
            img{
                display: block;
                width: 100%;
                margin-inline: auto;
                @media (min-width: v.$laptop){
                    max-width: m.px-to-vw(670px);
                }
                @include m.laptop{
                    max-width: 570px;
                }
            }
        }
    }
}

.discover{
    @include m.above;

    @media (min-width: v.$laptop){
        padding-block: m.px-to-vw(200px) m.px-to-vw(120px);
    }
    @include m.laptop{
        padding-block: 170px 90px;
    }
    @include m.notebook{
        padding-block: 140px 60px;
    }
    @include m.tablet{
        padding-block: 90px 40px;
    }

    &_slider{
        width: 100%;
        position: relative;

        @media (min-width: v.$laptop){
            margin-top: m.px-to-vw(40px);
            padding-left: m.px-to-vw(36px);
        }
        @include m.laptop{
            margin-top: 32px;
            padding-left: 4%;
        }
        @include m.notebook{
            margin-top: 24px;
        }
        @media (max-width: 576px){
            padding-left: 0;
        }

        .splide{
            &__arrows{
                position: absolute;
                top: auto;
                left: auto;
                @media (min-width: v.$laptop){
                    bottom: calc(100% + m.px-to-vw(46.5px));
                    right: m.px-to-vw(40px);
                }
                @include m.laptop{
                    bottom: calc(100% + 32px);
                    right: 4%;
                }
                @include m.notebook{
                    bottom: calc(100% + 24px);
                }

                @media (min-width: v.$laptop){
                    @include m.flex(flex-end, m.px-to-vw(16px));
                }
                @include m.laptop{
                    @include m.flex(flex-end, 13px);
                }
                @include m.notebook{
                    @include m.flex(flex-end, 10px);
                }
            }
            &__arrow{
                position: relative !important;
                inset: 0 !important;
                transform: none !important;
                background: v.$gold !important;
                opacity: 1 !important;

                @media (min-width: v.$laptop){
                    @include m.square(m.px-to-vw(48px));
                    @include m.flex(center, 0);
                }
                @include m.laptop{
                    @include m.square(42px);
                    @include m.flex(center, 0);
                }

                svg{
                    fill: v.$white;
                    @media (min-width: v.$laptop){
                        @include m.square(m.px-to-vw(20px));
                    }
                    @include m.laptop{
                        @include m.square(16px);
                    }
                }
            }
        }
    }

    .article_post{
        @media (min-width: v.$laptop){
            max-width: m.px-to-vw(437.33px);
        }
        @include m.laptop{
            max-width: 377.33px;
        }
        @media (max-width: 576px){
            max-width: 100%;
            width: 100%;
        }
    }
}